
#Cmake 
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

#Cmake generated glfw
vendor/glfw-3.3.4/cmake_uninstall.cmake
vendor/glfw-3.3.4/src/glfw3.pc
vendor/glfw-3.3.4/src/glfw3Config.cmake
vendor/glfw-3.3.4/src/glfw3ConfigVersion.cmake
vendor/glfw-3.3.4/src/glfw_config.h
vendor/Debug/
vendor/Release/
vendor/glfw-3.3.4/src/Debug/
vendor/glfw-3.3.4/src/Release/
vendor/glfw-3.3.4/src/glfw.dir/
vendor/MinSizeRel/
vendor/RelWithDebInfo/
vendor/glfw-3.3.4/src/MinSizeRel/
vendor/glfw-3.3.4/src/RelWithDebInfo/
vendor/shaderc_file_includer.dir/

vendor/imgui.dir/
x64/
src/VulkanEngine.dir

/build/**
/bin
/out




# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
